<!DOCTYPE html>
{% extends 'testapp/wish.html' %}
{% block body_block %}

<div class="jumbotron">
    <div class="container">
        <h1>Welcome to sangam Softsol Consultancy Services</h1>
        <h2>RULES:</h2>
            <li>Rule1: Graduation</li>
            <li>Rule2: Just Basics of Programming</li>
            <li>Rule3: Analytical Thinking</li>
            <li>Rule4: Problem Solving</li>
            <li>Rule5: All the above are not necessary, if you have passsion</li>
    </div>
</div>
{% endblock %}
